/* src/Footer.css */
.main-footer {
  background: #0a1a33;
  padding: 14px 0;
  margin-top: 40px;
  width: 100%;
}

.footer-inner {
  max-width: 1100px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
}
